*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
/* header  */
#header{
    margin: 0 100px;

}
.help_login{
    padding: 15px;
}
.signin{
    padding-left: 15px;
}
.header_top ul {
    display: flex;
    justify-content: flex-end;
    border-bottom: #3d4752 1px solid;
    padding: 10px 0;
}
.header_items li{
    list-style: none;
}
.header_items li a{
    color: #3d4752;
    text-decoration: none;
    font-weight: 700;
    transition: 0.35s all ease ;
}
.header_items li a:hover{
    color: #0ba49a;
}
.header_mid{
    display: flex;
    align-items: flex-start;
    margin: 30px 0 45px 0px;
}
.ngon_ngu{
    margin-right: 45%;
}
.header_mid img{
    height: 100px;
}
.search-container{
    position: absolute;
    right: 50px;
}
  .search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
    
}
  .search-box + label .search-icon {
    color: black;
}
  .search-box:hover {
    color: white;
    background: #088179c0;
    box-shadow: 0 0 0 5px #464747d9;
}
  .search-box:hover + label .search-icon {
    color: white;
}
.fa-magnifying-glass{
    position: relative;
    right: 29px;
    top: 3px;
    cursor: pointer;
}
  .search-box:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}
  .search-box:focus + label .search-icon {
    color: black;
}
  .search-box:not(:focus) {
    text-indent: -5000px;
}
  
  #search-submit {
    position: relative;
    left: -5000px;
}
  
  .search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}

.header_bottom{
    display: flex;
    justify-content: space-between;
    border-bottom: #222 1px solid;
    padding-bottom: 50px;

}
.header_bottom ul{
    display: flex;
}
.header_bottom ul li {
    list-style: none;
    padding: 0 20px;
}
.header_bottom ul li a{
    text-decoration: none;
    color: #222;
    padding: 5px;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: #1a1a1a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.3 ease;
}
.header_bottom ul li a::before{
    content: "";
    height: 2px;
    width: 0;
    background-color: #088178;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) ;
}
.header_bottom ul li:hover a:before{
    width: 100%;
}
.fa-bag-shopping{
    color: black;
    float: right;
    width: 25px;
}
.fa-bars{
    display: none;
}
.ngon_ngu_2{
    display: none;
}
#close{
    display: none;
}
.shopping span{
    font-size: 9px;
    background-color: rgba(215, 85, 85, 0.93);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color:#FFFFFF;
    position: absolute;
    top: 205px;
    right: 92px;
    padding: 3px 7px;
}

/* header end */






/* page header is here  */
#page_header{
    background-image: url(img/book_background.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    align-self: center;
    background-repeat: no-repeat;
    margin-top: 50px;
}
#page_header h1{
    font-size: 60px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 5px;
}
#page_header p{
    padding: 10px;
    font-size: 25px;
    color: #fff;
    font-style: italic;
    font-weight: 500;
}
/* page header end  */
/* email is here  */
.section_p1{
    padding: 40px 150px;
}
#newsletter{
    display: flex;
    height: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/backgound2.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}
#newsletter h4{
    font-size: 40px;
    font-weight: 700;
    color: #088178;
    padding-bottom: 10px;
}
#newsletter p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(47, 47, 47);
}
#newsletter p span{
    color: rgba(189, 131, 57, 0.93);
}
#newsletter .form{
    display: flex;
    width: 35%;
}
#newsletter input{
    height: 3.5rem;
    padding: 1.75rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    border-radius:  5px 0 0 5px;
} 
#newsletter button{
    background-color: #088178;
    color: #fff;
    font-size: 15px;
    white-space: nowrap;
    padding: 0 2rem;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    white-space: 10px;
    transition: all 0.35s ease;
}
#newsletter button:hover{
    background-color: #055f59;
}

/* email end  */

/* body is here  */
#cart{
    overflow-x: auto;
}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed ;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;

}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;

}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody td{
    font-size: 13px;
}

#cart_add{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
#coupon{
    width: 50%;
    margin-bottom: 30px;

}
#subtotal h3,
#coupon h3{
    margin-bottom: 20px;
}
#coupon input{
    padding: 15px 25px;
    outline:none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
    border-radius: 5px;
}
#coupon button,
.normal{
    background-color: #088178;
    color: #fff;
    font-size: 15px;
    padding: 15px 35px;
    margin-top: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    white-space: 10px;
    transition: all 0.35s ease;
}
#coupon button:hover,
.normal:hover{
    background-color: #055f59;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}

/* body end  */

/* footer is here */
.section_p1{
    padding: 40px 150px;
}
.row img{
    width: 200px;
}
.col img{
    width: 70px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
footer .logo_footer{
    margin-bottom: 30px;
}
footer h4{
    font-size: 18px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0 ;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
.icon a{
    transition: all 0.35s ease;
    color: rgb(53, 54, 63);
    border-radius: 50%;
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 5px;
}
.icon a:hover{
    background-color: #088178;
}
footer .install img{
    margin: 50px 0;
}
.row{
    margin: 35px 0;
}
#hover_content a{
    padding-bottom: 9px;
    position: relative;
}
#hover_content a::before{
    content: "";
    height: 2px;
    width: 0;
    background-color: #088178;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) ;
}
#hover_content a:hover:before{
    width: 100%;
}
.copyright{
    text-align: center;
    padding-bottom: 40px;
}

/* footer end  */
/* reponsice is here  */
@media (max-width: 799px) {
    /* header is here  */
    #header{
        margin: 20px 50px;
    }
    #menu{
        padding: 50px 0 0 0 ;
        position: fixed;
        top: 0;
        left: -300px;
        max-width: 500px;
        height: 100vh;
        background-color: #f2f2f2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        box-shadow: 2px 0 5px -2px #888;
        border-left: 7px solid #055f59dd;
        z-index: 100000;
        transition: all 0.4s ease;
    }
    #menu.active{
        left: 0px;
    }
    #menu li{
        margin-bottom:  30px ;
    }
    #menu li a{
        margin-right: 100px;
    }
    .fa-bars{
        display: block;
        position: absolute;
        font-size: 20px;
    }
    .ngon_ngu_2{
        display: block;
        padding: 3px;
        margin: 0px 25px;
        margin-right: 200px;
    }
    .ngon_ngu{
        display: none ;
    }
    .header_mid img{
        position: relative;
        display: block;
        margin: 0 auto;
    }
    .fa-xmark{
        position: absolute;
        top: 20px;
        right: 20px;
        color: rgba(0, 0, 0, 0.527);
        font-size: 20px;
        /* border: 1px solid rgba(0, 0, 0, 0.557);  
        border-radius: 50%;
        text-align: center;
        padding: 3px 5px; */
    }
    #close{
        display: block;
    }
    .shopping span{
        top: 222px;
        right: 45px;
    }
    .search-box:focus {
        width: 200px;
    }
    .fa-bag-shopping{
        font-size: 20px;
    }
    .search-container{
        right: 5px;
    }
    #page_header h1{
        font-size: 45px;
    }
    #page_header{
        height: 25vh;
    }
    #page_header p{
        font-size: 15px;
    }

    /* header end */   

    /* body is here  */
    #cart_add{
        align-items: center;
    }
    /* body end  */
    
    /* footer is here  */
    .section_p1{
        padding: 20px 40px;
        display: block;
        text-align: start;
        font-size: 15px;
        font-family: 'Poppins', sans-serif;
    }
    .section_p1 .form{
        width: 100%;
    }
    #newsletter input{
        padding: 10px 110px;
    }
    .pay{
        width: 70%;
    }
    .copyright p{
        font-size: 14px;
    }
    .row img{
        width: 35%;
        height: auto;
    }
    /* footer end  */
}
@media (max-width: 499px) {
    #cart_add{
        flex-direction: column-reverse;
    }
    #subtotal,
    #coupon{
    width: 100%;
    }
}

/* reponsive end  */