*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
/* header  */
#header{
    margin: 0 100px;
}
.help_login{
    padding: 15px;
}
.signin{
    padding-left: 15px;
}
.header_top{
}
.header_top ul {
    display: flex;
    justify-content: flex-end;
    border-bottom: #3d4752 1px solid;
    padding: 10px 0;
}
.header_items li{
    list-style: none;
}
.header_items li a{
    color: #3d4752;
    text-decoration: none;
    font-weight: 700;
    transition: 0.35s all ease ;
}
.header_items li a:hover{
    color: #0ba49a;
}
.header_mid{
    display: flex;
    align-items: flex-start;
    margin: 30px 0 45px 0px;
}
.ngon_ngu{
    margin-right: 45%;
}
.header_mid img{
    height: 100px;
}
.search-container{
    position: absolute;
    right: 50px;
}
  .search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
    
}
  .search-box + label .search-icon {
    color: black;
}
  .search-box:hover {
    color: white;
    background: #088179c0;
    box-shadow: 0 0 0 5px #464747d9;
}
  .search-box:hover + label .search-icon {
    color: white;
}
.fa-magnifying-glass{
    position: relative;
    right: 29px;
    top: 3px;
    cursor: pointer;
}
  .search-box:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 300px;
    border-radius: auto;
    background: #ebebeb;
    color: black;
}
  .search-box:focus + label .search-icon {
    color: black;
}
  .search-box:not(:focus) {
    text-indent: -5000px;
}
  
  #search-submit {
    position: relative;
    left: -5000px;
}
  
  .search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}

.header_bottom{
    display: flex;
    justify-content: space-between;
    border-bottom: #222 1px solid;
    padding-bottom: 50px;
}
.header_bottom ul{
    display: flex;
}
.header_bottom ul li {
    list-style: none;
    padding: 0 20px;
}
.header_bottom ul li a{
    text-decoration: none;
    color: #222;
    padding: 5px;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: #1a1a1a;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: all 0.3 ease;
}
.header_bottom ul li a::before{
    content: "";
    height: 2px;
    width: 0;
    background-color: #088178;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) ;
}
.header_bottom ul li:hover a:before{
    width: 100%;
}
.fa-bag-shopping{
    color: black;
    float: right;
    width: 25px;
    
}

/* header end */


body article{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.section2{
    width: 48%;
}
body article .section2 img{
    width: 100%;
    margin-top: 30px;
}
body article .section1,.section3{
    width: 20%;
}
.qqq{
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 5vw;
    margin-bottom: 70px;
}
.qqq ul li{
    list-style-type: none;

}
.qqq ul li a{
    color: #1a1a1a;
    padding: 0 5px;
}
.section1{
    margin: 0 20px 0 50px;
    border-top: 1px solid;
}
.section1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 27px;
    font-weight: 100;
    width: 100%;
    margin-top: 25px;
}
.section1 h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight:500;
    margin: 10px 0;
}
.section1 h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 15px;
    width: 70%;
    margin: 8px 0;
}
.section1,.section2,.section3{
    margin-top: 50px;
}
.small-img{
    width: 100%;
    margin-top: 30px;
}
.small-img img{
    width: 30%;
    margin: 2px 2px;
    cursor: pointer;
}
.bt input{
    margin: 6px 0;
    padding: 11px 0;
    width: 17%;
}
.bt button{
    padding: 10px 0;
    width: 50%;
    padding: 12px 0;
    font-size: 12px;
    margin-left: 20px;
    outline: none;
    background-color: #021d49;
    color: #FFFFFF;
}

.bt h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 200;
}
.section3{
    border-top: 1px solid;
}
.section3 div{
    font-family: 'News Cycle', sans-serif;
    font-size: 15px;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 25px;
}

#product1{
    margin: 0 50px;
}

#product1 .pro{
    border: 1px solid rgba(0, 0, 0, 0.123);
    width: 30%;
    min-width: 250px;
    padding: 10px 12px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    border-radius: 10px;
}
#product1 .pro img{
    width: 100%;
    border-radius:10px;
}
.pro-container a{
    text-decoration: none;
    color: #1a1a1a;
}
.des h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.des span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:bolder;
    font-size: 15px;
    color: #088178;
    position: relative;
    top:25px;
    left: 10px;
}
.cartplus span{
    margin-top: 10px;
    background-color: #e8f6ea;
    color: #088178;
    width: 42px;
    padding: 8px 0;
    border-radius: 30px;
    text-align: center;
    border: rgb(216, 216, 216) 1px solid;
    position: relative;
    bottom: 16px;
    left: 88%;
}
.cartplus span:hover{
    width: 50px;
    padding: 12px 0;
    color: #088178;
    transition: 0.3s;
}
.btimg:hover{
    opacity: 1;
}
.btimg{
    position: relative;
    bottom: 18px;
    opacity: 0;
    margin-top: -150%;
    transition: ease-in-out 0.3s;
}
.btimg:hover{
    opacity: 1;
}
.pro-container{
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
}
.similar{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 2px;
    margin-top: 20vh;
    margin-bottom: 5vh;
}


/* email is here  */
.section_p1{
    padding: 40px 150px;
    margin-top: 10vh;
}
#newsletter{
    display: flex;
    height: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(img/backgound2.jpg);
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
}
#newsletter h4{
    font-size: 40px;
    font-weight: 700;
    color: #088178;
    padding-bottom: 10px;
}
#newsletter p{
    font-size: 20px;
    font-weight: 600;
    color: rgb(47, 47, 47);
}
#newsletter p span{
    color: rgba(189, 131, 57, 0.93);
}
#newsletter .form{
    display: flex;
    width: 35%;
}
#newsletter input{
    height: 3.5rem;
    padding: 1.75rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    border-radius:  5px 0 0 5px;
} 
#newsletter button{
    background-color: #088178;
    color: #fff;
    font-size: 15px;
    white-space: nowrap;
    padding: 0 2rem;
    border-radius: 0 5px 5px 0;
    border: none;
    cursor: pointer;
    white-space: 10px;
    transition: all 0.35s ease;
}
#newsletter button:hover{
    background-color: #055f59;
}

/* email end  */

/* footer is here */
.section_p1{
    padding: 40px 150px;
}
.row img{
    width: 200px;
}
.col img{
    width: 70px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}
footer .logo_footer{
    margin-bottom: 30px;
}
footer h4{
    font-size: 18px;
    padding-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0 ;
}
footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
.icon a{
    transition: all 0.35s ease;
    color: rgb(53, 54, 63);
    border-radius: 50%;
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    height: 40px;
    width: 40px;
    line-height: 40px;
    margin-right: 5px;
}
.icon a:hover{
    background-color: #088178;
}
footer .install img{
    margin: 50px 0;
}
#page_header{
    background-image: url(img/book_background.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
    align-self: center;
    background-repeat: no-repeat;
}
#page_header h1{
    font-size: 60px;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 5px;
}
#page_header p{
    padding: 10px;
    font-size: 25px;
    color: #fff;
    font-style: italic;
    font-weight: 500;
}
.copyright{
    text-align: center;
    padding-bottom: 40px;
}